.imagenIsael{
   
     height: 200px;
     width: 200px;
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 50%;
}
.foter{
    height: 50px;
    width: 50px;
}
.aboutMe{
    height: 00px;
    width: 10px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    background-color: 	#ededf2;
  }
  
  .header {
    padding: 30px;
    text-align: center;
    background: #cfd5e1;
  }
  
  .header h1 {
    font-size: 50px;
  }
  .topnav {
    overflow: hidden;
    background-color: #6c788e;
  }

  .topnav a {
    float: left;
    display: block;
    color: #fff7f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: rgb(179, 121, 121);
  }
  
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  

  .rightcolumn {
    float: right;
    width: 25%;
    background-color: #cfd5e1#8a6767;
    padding-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  

  .fakeimg {
    background-color:  #6c788e;
    width: 100%;
    padding: 20px;
    
  }
  .galeria{
    height: 200px;
    width: 200px;
  }
  

  .card {
    background-color: #cfd5e1;
    padding: 20px;
    margin-top: 20px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #a6aec1;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .btn-group .button {
    background-color: #6c788e; /* Green */
    border: 1px solid #85a2da;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
  }
  
  .btn-group .button:not(:last-child) {
    border-bottom: none;
  }
  
  .btn-group .button:hover {
    background-color: #456296;
  }